body {
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
}

.container {
  position: relative;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.dropdown-content {
  display: none;
}

.menu-item {
  display: none;
}

.main-title {
  position: absolute;
  bottom: 10%;
  right: -3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  background: white;
  font-size: 3em;
  font-weight: bold;
}

img {
  max-width: 100%;
}

#addButton {
  position: fixed;
  right: 10%;
  bottom: 5%;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border: 1px solid #555;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #555;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#addButton:hover {
  background-color: #333;
}

#addButton:focus {
  outline: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(33.3% - 1.5em);
  margin: 1rem 0;
  background-color: white;
}

.card:hover {
  box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.75);
}

.title {
  padding: 1rem 1rem 0;
  font-size: 1.5em;
  font-weight: bold;
}

.abstract {
  display: -webkit-box;
  overflow: hidden;
  padding: 0 1rem;
  color: #606060;
  font-size: 1em;
  font-weight: bold;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.more {
  align-self: flex-end;
  padding: 1rem;
  color: #606060;
  font-size: 1em;
  font-family: Arial;
  text-align: right;
}

.empty {
  width: calc(33.3% - 1.5em);
  height: 1px;
  margin: 1rem 0;
}

/* Tablets */
@media only screen and (max-width: 1224px) {
  .container {
    width: 65%;
  }

  .card, .empty {
    flex: 50%;
    max-width: calc(50% - 1em);
  }
}

/* Mobile phones */
@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }

  .toolbar {
    position: fixed;
    z-index: 1;
    width: inherit;
    height: 2rem;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    background-color: #555;
  }

  .menu-icon {
    float: right;
    max-height: 70%;
    padding: .3rem 1rem;
    cursor: pointer;
  }

  .bar {
    width: 1.5rem;
    height: .2rem;
    margin: .2rem 0;
    background-color: white;
    border-radius: 1px;
  }

  .menu-icon div:nth-child(1), div:nth-child(2), div:nth-child(3) {
    transition: all 0.35s ease-in-out;
  }

  .menu-icon.open div:nth-child(1) {
    transform: translateY(.4rem) rotate(45deg);
  }

  .menu-icon.open div:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .menu-icon.open div:nth-child(3) {
    transform: translateY(-.4rem) rotate(-45deg);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    top: 2rem;
    display: none;
    width: 6em;
    min-height: 2em;
    background-color: #666;
    z-index: 1;
  }

  .menu-item {
    display: block;
    padding-left: .8rem;
    color: white;
    font-size: 1em;
    font-family: Arial;
    line-height: 2em;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: #888;
  }

  .card, .empty {
    flex: 100%;
    max-width: 100%;
  }
}

/* Small mobile phones */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }

  .abstract, .more {
    font-size: 12px;
  }
}
